/* all collapse container */
.collapse-container.last-modified {
    margin: 0.5rem 0 1rem 0;
}

/* header */
.collapse-container.last-modified>:nth-child(odd):focus {
    outline: 0;
}

.collapse-container.last-modified>:nth-child(odd) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    padding: 0.75rem;
    background-image: none;
    border: 0px;
}

/* body */
.collapse-container.last-modified>:nth-child(even) {
    display: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1rem;
    border: 0px;
}


/* arrow */
span.arrow-d{
    top: 6px; position: relative;
}

span.arrow-r{
    top: 6px; position: relative;
}



/* all collapse container */
.collapse-container.last-modified {
    -webkit-box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.64), 0 3px 1px -2px rgba(50, 50, 50, 0.62), 0 1px 5px 0 rgba(50, 50, 50, 0.7);
    box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.64), 0 3px 1px -2px rgba(50, 50, 50, 0.62), 0 1px 5px 0 rgba(50, 50, 50, 0.7);
    border-top: 1px solid rgba(96, 96, 96, 0.7);
    border-right: 1px solid rgba(96, 96, 96, 0.7);
    border-left: 1px solid rgba(96, 96, 96, 0.7);
}

/* header */
.collapse-container.last-modified>:nth-child(odd) {
    background-color: #3f3f3f;
    border-bottom: 1px solid rgba(96, 96, 96, 0.7);
}

/* body */
.collapse-container.last-modified>:nth-child(even) {
    border-bottom: 1px solid rgba(96, 96, 96, 0.7);
    background-color: inherit;
}

span.arrow-d{
    border-top: 5px solid white
}

span.arrow-r{
    border-left: 5px solid white
}