<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="butr.github" value="https://nuget.pkg.github.com/BUTR/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <butr.github>
      <add key="Username" value="&#65;&#114;&#97;&#103;&#97;&#115;" />
      <add key="ClearTextPassword" value="&#48;&#49;&#55;&#55;&#48;&#102;&#52;&#56;&#50;&#101;&#98;&#97;&#97;&#54;&#99;&#102;&#50;&#54;&#50;&#54;&#52;&#54;&#97;&#99;&#54;&#49;&#56;&#100;&#57;&#98;&#97;&#52;&#102;&#55;&#99;&#98;&#102;&#55;&#98;&#55;" />
    </butr.github>
  </packageSourceCredentials>
</configuration>