<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="BUTR" value="https://nuget.pkg.github.com/butr/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <BUTR>
      <add key="Username" value="Tyler-IN" />
      <add key="ClearTextPassword" value="&#98;&#99;&#55;&#53;&#99;&#48;&#100;&#57;&#52;&#57;&#99;&#51;&#55;&#52;&#50;&#52;&#102;&#99;&#100;&#48;&#102;&#100;&#102;&#99;&#48;&#56;&#102;&#99;&#54;&#52;&#98;&#49;&#99;&#101;&#101;&#98;&#100;&#98;&#99;&#99;" />
    </BUTR>
  </packageSourceCredentials>
</configuration>
