name: Tests

on:
  push:
    branches: 
      - master
      - v3

jobs:
  build:
    name: Tests
    runs-on: windows-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Setup .NET Core
      uses: actions/setup-dotnet@master
      with:
        dotnet-version: 3.1.300
        source-url: https://nuget.pkg.github.com/Bannerlord-Unofficial-Tools-Resources/index.json
      env:
        NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

    - name: Download DepotDownloader_2.3.6
      uses: i3h/download-release-asset@v1
      with:
        owner: SteamRE
        repo: DepotDownloader
        tag: DepotDownloader_2.3.6
        file: depotdownloader-2.3.6.zip
        token: ${{secrets.GITHUB_TOKEN}}

    - name: Extract DepotDownloader_2.3.6
      uses: DuckSoft/extract-7z-action@v1.0
      with:
        pathSource: depotdownloader-2.3.6.zip
        pathTarget: depotdownloader

    - name: Download Bannerlord binaries
      run: >-
        dotnet depotdownloader/DepotDownloader.dll -app 261550 -depot 261551 -username ${{secrets.STEAM_LOGIN}}
        -password ${{secrets.STEAM_PASSWORD}} -filelist ./.github/resources/FileFilters.regexp -dir bannerlord
      shell: pwsh

    - name: Test MCM (Debug)
      run: dotnet test MCM.Tests/MCM.Tests.csproj --configuration Debug -p:GameFolder="$pwd/bannerlord"
      shell: pwsh

    - name: Test MCM (Release)
      run: dotnet test MCM.Tests/MCM.Tests.csproj --configuration Release -p:GameFolder="$pwd/bannerlord"
      shell: pwsh

    - name: Trigger NuGet workflow
      uses: peter-evans/repository-dispatch@v1
      with:
        token: ${{secrets.REPO_ACCESS_TOKEN}}
        event-type: publish-on-nuget
        client-payload: '{"github": ${{ toJson(github) }}}'

    - name: Trigger NexusMods workflow
      uses: peter-evans/repository-dispatch@v1
      with:
        token: ${{secrets.REPO_ACCESS_TOKEN}}
        event-type: publish-on-nexusmods
        client-payload: '{"github": ${{ toJson(github) }}}'

    - name: Trigger GitHub workflow
      uses: peter-evans/repository-dispatch@v1
      with:
        token: ${{secrets.REPO_ACCESS_TOKEN}}
        event-type: publish-on-github
        client-payload: '{"github": ${{ toJson(github) }}}'
